{% extends "base.html" %}
{% block title %}{{ image_title }}{% endblock %}
{% block extrastyling %}
<meta property="og:image" content="{{ image_thumb_url }}" data-dynamic="true">
<meta property="og:image:width" content="{{ image_thumb_sizes.width }}" data-dynamic="true">
<meta property="og:image:height" content="{{ image_thumb_sizes.height }}" data-dynamic="true">
{% endblock %}

{% block content %}
<h1>{{ image_title }}</h1>

<div class="zoomnav">
    <a href="{{ image_detail_url }}" title="Go back to normal view"><ion-icon name="close" size="large"></ion-icon></a>
</div>

<div id="imagefull">
<!--
{{ image.image_hash }}
-->

    <img src="{{ image_url }}" class="image_full" />

</div>

{% if image_meta.description %}
<div id="description">
    {% load markdownify %}
    {{ image_meta.description | markdownify | safe }}
</div>
{% endif %}

<div id="image_navigation">
    <a href="{{ prevpage }}" title="Back to image detail page [backspace]"><ion-icon name="close" size="large"></ion-icon></a>
</div>

<div id="exifhighlights">

    <h3>{{ image_date }}</h3>

    <table>
        {% for exifitem in exif_highlights %}
        <tr><td class="exifkey">{{ exifitem.key|safe }}</td><td>{{ exifitem.value }}</td></tr>
        {% endfor %}
    </table>
</div>

<script type="text/javascript">
function goToImageDetail() {
    // Navigate to the previous image
    var location = '{{ image_detail_url }}';
    if (location != '')
    {
        window.location.href = location;
    }
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 68:
            /* 'd' key ('detail') */
            goToImageDetail();
            break;
        case 78:
            /* 'n' key ('normal') */
            goToImageDetail();
            break;
        case 8:
            /* backspace */
            goToImageDetail();
            break;
        case 27:
            /* esc */
            goToImageDetail();
            break;
    }
};
</script>

{% endblock %}
