{% extends "base.html" %}
{% block title %}{{ image_title }}{% endblock %}
{% block extrastyling %}
<meta property="og:image" content="{{ image_thumb_url }}" data-dynamic="true">
<meta property="og:image:width" content="{{ image_thumb_sizes.width }}" data-dynamic="true">
<meta property="og:image:height" content="{{ image_thumb_sizes.height }}" data-dynamic="true">
{% endblock %}

{% block navigationbar %}
{% endblock %}

{% block content %}
{#<h1>{{ image_title }}</h1>#}

<div id="imagemax">
    <div class="zoomnav">
        <a href="{{ image_detail_url }}" title="Go back to normal view [backspace]"><ion-icon name="contract" size="large"></ion-icon></a>
    </div>

    <img src="{{ image_url }}" class="image_max" />
</div>

{% if image_meta.description %}
<div id="description">
    {% load markdownify %}
    {{ image_meta.description | markdownify | safe }}
</div>
{% endif %}

<script type="text/javascript">
function goToImageDetail() {
    // Navigate to the previous image
    var location = '{{ image_detail_url }}';
    if (location != '')
    {
        window.location.href = location;
    }
}

function leftArrowPressed() {
    // Navigate to the previous image
    var location = '{{ prevpage }}';
    if (location != '')
    {
        window.location.href = location;
    }
}

function rightArrowPressed() {
    // Navigate to the previous image
    var location = '{{ nextpage }}'
    if (location != '')
    {
        window.location.href = location;
    }
}

function upArrowPressed() {
    // Navigate to the directory above
    var location = '{{ uppage }}'
    if (location != '')
    {
        window.location.href = location;
    }
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 68:
            /* 'd' key ('detail') */
            goToImageDetail();
            break;
        case 78:
            /* 'n' key ('normal') */
            goToImageDetail();
            break;
        case 8:
            /* backspace */
            goToImageDetail();
            break;
        case 27:
            /* esc */
            goToImageDetail();
            break;
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
        case 38:
            upArrowPressed();
            break;
    }
};

$(function() {
    $("#imagemax").swipe( {
        allowPageScroll: "vertical",

        //Generic swipe handler for all directions
        swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
            //console.log("You swiped " + direction );
            // It's the reverse
            if (direction == 'left')
            {
                rightArrowPressed();
            }
            if (direction == 'right')
            {
                leftArrowPressed();
            }
        }
    });
});
</script>

{% endblock %}
