
body
{
    background-color: #3C3C3C;
    color: #FFF;
    font-family: 'Droid Sans', Arial, Verdana, sans-serif;
}

#navigation
{
    background-color: #121212;
    padding: .5em;
}

#navigation ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navigation li
{
    /* Fix for IE9 */
    list-style-type:none;
}

h1
{
    /*font-family: BebasNeueRegular, arial, Georgia, serif;*/
    font-family: BebasNeuewebfont, arial, Georgia, serif;
    color: #FFF;
}

a
{
    color: #F88C00;
}

#dirlist
{
    background-color: #121212;
    margin-bottom: 1em;
}

#content .image_normal
{
    max-width: 100%;
    max-height: 80vh;
}

#imagelarge
{
    text-align: center;
}

img .image_thumbnail
{
}
