
body
{
    background-color: #3C3C3C;
    color: #FFF;
    font-family: 'Droid Sans', Arial, Verdana, sans-serif;
}

#navigation
{
    background-color: #121212;
    padding: .5em;
}

#navigation ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navigation li
{
    /* Fix for IE9 */
    list-style-type:none;
}

h1
{
    font-family: BebasNeueRegular, arial, Georgia, serif;
    color: #FFF;
}

a
{
    color: #F88C00;
}

img .image_normal,
#content .image_normal
{
    width: 100%;
}

img .image_thumbnail
{
}
