{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Imagine gallery{% endblock %}</title>
    <link rel='stylesheet' id='Droid+Sans-css'  href='https://fonts.googleapis.com/css?family=Droid+Sans%3Aregular%2C700' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="{% static "css/imaginedark.css" %}" />
    {% block extrastyling %}
    {% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <!--<li><a href="/events/">Events</a></li>-->
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
