{% extends "base.html" %}
{% block title %}{{ collection.title }}{% endblock %}

{% block content %}
<h1>{{ collection.title }}</h1>

{% for directory in directory_list %}
    {#<a href="/{{ collection.slug }}/{{ directory.dir_path }}">{{ directory.featured_image }}</a>#}
    {% if directory.dir_path %}
    <a href="{% url 'directory_detail' collection.slug directory.dir_path %}">{{ directory.featured_image }}</a>
    {% endif %}
{% endfor %}

{% for image in images %}
{% include "image/thumbnail.html" %}
{% endfor %}

{% endblock %}
