{% extends "base.html" %}
{% block title %}Gallery home{% endblock %}

{% block content %}
{% if collection_list %}
    <div class="itemlist">
    {% for collection in collection_list %}
        <div class="item">
            <h3>{{ collection.title }}</h3>
            <div class="itemthumb">
            <a href="{% url "collection_detail" collection.slug %}">
                <img alt="{{ collection.title }}" src="{{ collection.archive_uri }}/{{ collection.get_featured_image.get_thumbnail }}" class="image_thumbnail" />
            </a>
            </div>
            <div class="meta">{{ collection.nr_directories }} albums, {{ collection.nr_images }} images</div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No collections are available.</p>
{% endif %}
{% endblock %}
